---
layout: default
permalink: /timeline/
title : 分类
---

<article class="page-article">
    <div class="wrap-content">
        <header class="page-header">
            <h1 class="page-title"> 文章分类</h1>
            <div class="page-date">
                <span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </header>
        <div class="page-content">
        </div>
    </div>
</article>

<!-- <div id='tag_cloud'>

    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <strong>{{ tag[0] }}</strong>
    </a>
    {% endfor %}
</div> -->

<ul class="listing">
    {% for tag in site.tags %}
    <li class="listing-seperator" id="{{ tag[0] }}">
        <strong>{{ tag[0] }}</strong>
    </li>
    {% for post in tag[1] %}
    <li class="listing-item">
        <i class="circle" aria-hidden="true"></i>
        <time datetime="{{ post.date | date:" %Y-%m-%d " }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %} {% endfor %}
</ul>