<a class="music-switch">
    <i class="fa fa-music" aria-hidden="true"></i>
</a>
<div id="wrapper-music">
    <h1>My Music</h1>
    <!-- <i class="audio-control fa fa-volume-down" aria-hidden="true"></i> -->
    <i class="fa fa-times" aria-hidden="true"></i>
    <audio preload></audio>
    <ol>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=5093684.mp3">Just the Way You Are -- Bruno Mars</a>
            <!-- <div class="rectangle-bounce">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div> -->
        </li>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=472361096.mp3">Despacito(Remix) -- Luis Fonsi;Daddy Yankee;Justin Bieber</a>
        </li>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=25713024.mp3">没有什么不同 -- 曲婉婷</a>
        </li>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=168053.mp3">故乡--许巍</a>
        </li>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=25713016.mp3">Jar Of Love -- 曲婉婷</a>
        </li>
        <li>
            <i class="fa fa-play" aria-hidden="true"></i>
            <a href="#" data-src="http://music.163.com/song/media/outer/url?id=30841076.mp3">I Really Like You -- Carly Rae Jepsen</a>
        </li>
    </ol>
</div>