<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Tim Gao{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
        <li class="menu-items"><a class="menu-links" href="https://github.com/tim-gao/Blogs">Github Project</a></li>
        <li class="menu-items">
            <a class="menu-links" href="{{site.baseurl}}/tags/">Tags</a>
        </li>
    </menu>

    <div class="sidebar-social sb-container">
        {% if site.facebook %}
        <div>
            <span class="social-icons fa fa-facebook" aria-hidden="true"></span>
            <h4 href="https://www.facebook.com/{{site.facebook}}">
                <span>facebook</span>
            </h4>
        </div>
        {% endif %} {% if site.twitter %}
        <div>
            <span class="social-icons fa fa-twitter" aria-hidden="true"></span>
            <h4 href="https://twitter.com/{{site.twitter}}">
                <span>twitter</span>
            </h4>
        </div>
        {% endif %} {% if site.google-plus %}
        <div>
            <span class="social-icons fa fa-google-plus" aria-hidden="true"></span>
            <h4 href="https://plus.google.com/u/0/{{site.google-plus}}">
                <span>google+</span>
            </h4>
        </div>
        {% endif %} {% if site.github %}
        <div>
            <span class="social-icons fa fa-github" aria-hidden="true"></span>
            <h4 href="https://github.com/{{site.github}}">
                <span>github</span>
            </h4>
        </div>
        {% endif %} {% if site.weixin %}
        <div>
            <span class="social-icons fa fa-weixin" aria-hidden="true"></span>
            <h4 href="https://wx.qq.com/{{site.weixin}}">
                <span>weixin</span>
            </h4>
        </div>
         {% endif %} {% if site.weibo %}
        <div>
            <span class="social-icons fa fa-weibo" aria-hidden="true"></span>
            <h4 href="https://weibo.com/{{site.weibo}}">
                <span>weibo</span>
            </h4>
        </div>
        {% endif %}
        <div>
            <span class="social-icons" aria-hidden="true"></span>
            <h4>
                <span>Social</span>
            </h4>
        </div>
    </div>

  </div>
</aside>
