<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Tim Gao{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
        <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
        <li class="menu-items"><a class="menu-links" href="https://github.com/tim-gao/Blogs">Github Project</a></li>
        <li class="menu-items">
            <a class="menu-links" href="{{site.baseurl}}/tags/">Tags</a>
        </li>
    </menu>

    <div class="sidebar-social">
        {% if site.facebook %}
        <li class="social-items">
            <a href="https://www.facebook.com/{{site.facebook}}" class="social-links">
                <i class="social-icons fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %} {% if site.twitter %}
        <li class="social-items">
            <a href="https://twitter.com/{{site.twitter}}" class="social-links">
                <i class="social-icons fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %} {% if site.google-plus %}
        <li class="social-items">
            <a href="https://plus.google.com/{{site.google-plus}}" class="social-links">
                <i class="social-icons fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %} {% if site.github %}
        <li class="social-items">
            <a href="https://github.com/{{site.github}}" class="social-links">
                <i class="social-icons fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %} {% if site.weixin %}
        <li class="social-items">
            <a href="https://wx.qq.com/{{site.weixin}}" class="social-links">
                <i class="social-icons fa fa-weixin" aria-hidden="true"></i>
            </a>
        </li>
         {% endif %} {% if site.weibo %}
        <li class="social-items">
            <a href="https://weibo.com/{{site.weibo}}" class="social-links">
                <i class="social-icons fa fa-weibo" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}
    </div>

  </div>
</aside>
