.container {
    margin: 0 auto;
    max-width: 1440px;
}
.fighting {
    margin: 30px 0;

    img {
        box-shadow: 1px 1px 5px 5px #6e7382;
    }
}

.prop-item {
    padding: 2rem;

    >h4 {
        font-size: 1.75rem;
        margin:0;
    }
}
.parent,
.children {
    float: left;
    width: 50%;
}
.parent .prop-item {
    background: -webkit-linear-gradient(rgba(156,39,176,0.2), white);
    background: linear-gradient(rgba(156,39,176,0.2), white);
}
.children .prop-item {
    background: -webkit-linear-gradient(rgba(255,152,0,0.2), white);
    background: linear-gradient(rgba(255,152,0,0.2), white);
}
.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}
.detail {

    .img-wrapper {
        img {
            width: 100%;
        }
    }
    .demo-flex-wrap {
        display: flex;
        width: 100%;
        border: 1px solid;
        margin: 10px 0;
        >div {
            padding: 5px;
            width: 100px;
            height: 100px;
            margin: 10px;
            line-height: 100px;
            color: white;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }

        &.nowrap {
            flex-wrap: nowrap;
            >div {
                background-color: red;
            }
        }

        &.wrap {
            flex-wrap: wrap;
            >div {
                background-color: green;
            }
        }

        &.wrap-reverse {
            flex-wrap: wrap-reverse;
            >div {
                background-color: blue;
            }
        }
    }
}

pre {
    background: #000;
    position: relative;
    color: #fff;
    font-size: 1.2em;
    margin:0;

    .prop {
        color: #dfc48c;
    }
    .key {
       color: #9b869c;
    }
    .value {
        color: #cd6a51;
    }
    
    code {
        display: block;
        width: 100%;
        overflow: auto;
    }
}
pre[ref="CSS"],
pre[ref="SCSS"] {
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FF9800;
        content:attr(ref);
        width: 100%;
        text-indent: 15px;
    }
}