
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
//   font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 500px) {
    html {
        font-size:calc(15px + 5 * ((100vw - 500px) / 900));
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}

body {
  color: #515151;
  margin: 0;
  background-color: #ecf3f3;
}

img {
  max-width: 100%;
}

a {
  color: #15F3A8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #1bdc9b;
  }
}

blockquote {
  border-left: 5px solid #15F3A8;
  padding-left: 1.1rem;
  margin-left: 1.2rem;
  font-style: italic;
  color: #ada8a8;
}

// Syntax
.highlight {
  background-color: #faf9f9;
  border-radius: 3px;
  margin: 0;
}

.highlighter-rouge {
  color: #e74b3c;
  font-weight: 400;
  border: 1px solid #607D8B;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
}

pre {
    padding: 1rem 2rem;
    overflow-x: auto;

    code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
}

// Sidebar
.sidebar {
  background-color: #2d2a2a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  padding: 2rem 1rem;
}

.sidebar-menu {
  padding: 0;
  margin: 0 -2rem;
  .menu-items {
    list-style: none;
    transform: perspective(1px) translateZ(0);

    &:hover {
       -webkit-animation-name: hvr-wobble-horizontal;
       animation-name: hvr-wobble-horizontal;
       -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-timing-function: ease-in-out;
       animation-timing-function: ease-in-out;
       -webkit-animation-iteration-count: 1;
       animation-iteration-count: 1;
    }
  }

  @keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }
  .menu-links {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 1rem 1.3rem;
    color: #fff;
    font-weight: 700;
    transition: all .35s;
    &:hover {
      transform: translateY(3px);
      background-color: #15F3A8;
      color: #515151;
    }
  }
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar-logo {
  .logo {
    // font-family: 'Finger Paint', cursive;
    color: #15F3A8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
  }
}

.sidebar-social {
  text-align: center;
  .social-items {
    display: inline-block;
  }
  .social-links {
    display: inline-block;
    text-decoration: none;
  }
  .social-icons {
    font-size: 1.4rem;
    padding: 0.4rem 0.5rem;
    color: #ccc;
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    &:hover {
      transform: scale(1.2);
    }
  }
}
// Content
.content {
  position: relative;
  max-width: 48rem;
  margin-left: 22rem;
  margin-right: 2rem;
  padding: 4rem 1rem;
}

.main-article, .page-article, .post {
  margin-bottom: 6rem;
  box-shadow: 0px 50px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  .header-article, .page-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrap-content {
    background-color: #fff;
    padding: 1rem;
  }
  .title-article, .page-title, .post-title {
    font-family: 'Finger Paint', cursive;
    margin-bottom: 0;
    transition: all .3s;
    color: #15F3A8;
    // font-size: 2.5rem;
    font-size: 40px;
    margin-top: 0.67rem;
    a {
      color: #15F3A8;
      text-decoration: none;
    }
  }
  .post-date, .page-date {
    span {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-family: monospace;
      color: lightgreen;
    }
  }
  .more {
    text-decoration: none;
    color: lightgreen;
  }
}

img.post-image, img.page-img {
  width: 100%;
}

.page-content {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  .post-list  {
    >h2 {
        font-family: 'Finger Paint',cursive;
    }
    a { color: #616;}
  }
}

// Pagination
.pagination {
  text-align: center;
  a.next, a.previous {
    padding: 1rem 2.5rem;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    text-decoration: none;
    background: #15F3A8;
    transition: all .35s;
    &:hover {
      box-shadow: none;
    }
  }
  span.next, span.previous {
    text-transform: uppercase;
    color: white;
    padding: 1rem 2.5rem;
    background: #ccc;
  }
}

// Form
.form {
  max-width: 100%;
  width: 25rem;
  margin: 0 auto;
}
.form-item {
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  input {
    height: 2.5rem;
    text-indent: 0.75rem;
    padding: 0;
  }
  textarea {
    height: 8rem;
    padding: 0.75rem;
    overflow: auto;
  }
  input, textarea {
    width: 100%;
    margin-bottom: 15px;
    transition: all .7s ease;
    border: 1px solid #ccc;
    outline: 0;
    font-size: 0.7rem;
  }
  &:last-child {
    margin: 1rem 0 2rem 0;
  }
}

.form-btn {
  width: 100%;
  margin: 0 auto;
  display: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
  background: #15F3A8;
  border: 0;
  border-radius: 0;
  outline: 0;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .4s;
  &:hover {
    background-color: #1bdc9b;
  }
}
// custom style start
.detail {
    .img-wrapper {
        img {
            width: 100%;
        }
    }
    .demo-flex-wrap {
        display: flex;
        width: 100%;
        border: 1px solid;
        margin: 10px 0;
        >div {
            padding: 5px;
            width: 100px;
            height: 100px;
            margin: 10px;
            line-height: 100px;
            color: white;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        &.nowrap {
            flex-wrap: nowrap;
            >div {
                background-color: red;
            }
        }
        &.wrap {
            flex-wrap: wrap;
            >div {
                background-color: green;
            }
        }
        &.wrap-reverse {
            flex-wrap: wrap-reverse;
            >div {
                background-color: blue;
            }
        }
    }
}

pre {
    background: #000;
    position: relative;
    color: #fff;
    font-size: 1.2em;
    margin: 0;
    .prop {
        color: #dfc48c;
    }
    .key {
        color: #9b869c;
    }
    .value {
        color: #cd6a51;
    }
    code {
        display: block;
        width: 100%;
        overflow: auto;
    }
    &.formatter {
        font-family: arial;
        font-size: 12px;
        border: 1px dashed #CCCCCC;
        width: 99%;
        height: auto;
        overflow: auto;
        background: rgba(255, 255, 255, 0.40);
        /* background-image: URL('../images/bg.gif'); */
        padding: 0px;
        color: #000000;
        text-align: left;
        line-height: 20px;
        code {
            color: #000000;
            word-wrap: normal;
        }
    }
}

pre[ref="CSS"],
pre[ref="SCSS"] {
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FF9800;
        content: attr(ref);
        width: 100%;
        text-indent: 15px;
    }
}

.wrapper-20170718 {
    table {
        background-color: #fff;
        margin: 20px 0;
        width: 800px;
        tr {
            &:nth-child(odd) {
                background-color: #efefef;
            }
            td {
                padding: 15px;
                &:first-child {
                    width: 150px;
                    font-size: 18px;
                    font-weight: 700;
                    padding-left: 20px;
                }
                .forIE10 {
                    color: #f00;
                }
            }
        }
    }
}

#wrapper-music {
    background: #333;
    max-width: 460px;
    position: fixed;
    right: 0;
    bottom: 5px;
    opacity: 0.9;
    margin-right: -100vw;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px #333;
    -webkit-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 10;
    font-family: 'Courgette', cursive;
    >.fa-times {
        position: absolute;
        color: #fff;
        font-size: 16px;
        height: 30px;
        width: 30px;
        top: 5px;
        right: 0;
        display: none;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3D(-50%, -50%, 0);
        }
    }
    >.fa-volume-off,
    // >.fa-volume-down {
    //     color: #fff;
    //     position: absolute;
    //     top: 10px;
    //     left: 10px;
    //     font-size: 1.5em;
    //     cursor: pointer;
    // }
    &.show-music-list {
        margin-right: 0;
    }
    >h1 {
        text-align: center;
        color: #CCC;
        font-size: 25px;
        margin: 5px;
    }
    ol {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        li {
            padding-left: 15px;
            cursor: pointer;
            border-bottom: 1px solid;
            &.playing {
                background-color: #000;
                .fa-play {
                    color: #FFF;
                }
                // .rectangle-bounce {
                //     display: inline-block;
                // }
            }
            &:hover {
                background-color: #000;
                a {
                    color: #FFF;
                }
                .fa-play {
                    color: #FFF;
                }
            }
            .fa-play {
                vertical-align: middle;
                color: #333;
                font-size: 8px;
            }
            a {
                color: #CCC;
                text-decoration: none;
                margin-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
                vertical-align: middle;
                font-size: 14px;
                @media (min-width: 769px) {
                    max-width: 310px;
                }
                @media (max-width: 768px) {
                    max-width: 238px;
                }
            }
        }
    }
    // .rectangle-bounce {
    //     display: none;
    //     float: right;
    //     height: 18px;
    //     width: auto;
    //     right: 0;
    //     left: 0;
    //     z-index: 10;
    //     margin-right: 40px;
    //     position: relative;
    //     -webkit-transition: all 0.3s ease-in-out 0;
    //     transition: all 0.3s ease-in-out 0;
    //     text-align: center;
    //     div {
    //         height: 100%;
    //         width: 7px;
    //         margin: 0 3px 0 0;
    //         background-color: #fff;
    //         display: inline-block;
    //         -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    //         animation: stretchdelay 1.2s infinite ease-in-out;
    //     }
    //     .rect2 {
    //         -webkit-animation-delay: -1.1s;
    //         animation-delay: -1.1s;
    //     }
    //     .rect3 {
    //         -webkit-animation-delay: -1.0s;
    //         animation-delay: -1.0s;
    //     }
    //     .rect4 {
    //         -webkit-animation-delay: -0.9s;
    //         animation-delay: -0.9s;
    //     }
    //     .rect5 {
    //         -webkit-animation-delay: -0.8s;
    //         animation-delay: -0.8s;
    //     }
    //     @-webkit-keyframes stretchdelay {
    //         0%,
    //         40%,
    //         100% {
    //             transform: scaleY(0.4);
    //             -webkit-transform: scaleY(0.4);
    //         }
    //         20% {
    //             transform: scaleY(1);
    //             -webkit-transform: scaleY(1);
    //         }
    //     }
    //     @-moz-keyframes stretchdelay {
    //         0%,
    //         40%,
    //         100% {
    //             transform: scaleY(0.4);
    //             -webkit-transform: scaleY(0.4);
    //         }
    //         20% {
    //             transform: scaleY(1);
    //             -webkit-transform: scaleY(1);
    //         }
    //     }
    //     @keyframes stretchdelay {
    //         0%,
    //         40%,
    //         100% {
    //             transform: scaleY(0.4);
    //             -webkit-transform: scaleY(0.4);
    //         }
    //         20% {
    //             transform: scaleY(1);
    //             -webkit-transform: scaleY(1);
    //         }
    //     }
    // }
}

.music-switch {
    width: 50px;
    height: 50px;
    background-color: rgba(155, 228, 216,0.3);
    display: block;
    border-radius: 50%;
    position: fixed;
    right: 5px;
    bottom: 10px;
    line-height: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 10;
    text-align: center;
    &.move-left {
        transform: translateX(-460px);
        .fa-music {
            color: #0ee817;
            transform: rotatey(180deg);
            animation: myzoom 2s infinite;
            -moz-animation: myzoom 2s infinite;	/* Firefox */
            -webkit-animation: myzoom 2s infinite;	/* Safari 和 Chrome */
            -o-animation: myzoom 2s infinite;
        }
    }
    .fa-music {
        font-size: 20px;
        vertical-align: middle;

    }
}

.audiojs {
    .play-pause {
        width: 36px;
    }
} 
// custom style end

//animation for music switch start

@keyframes myzoom
{
0% {transform: scale(0.5)}
50% {transform: scale(1.5)}
100% {transform: scale(0.5)}
}

@-moz-keyframes myzoom /* Firefox */
{
0% {transform: scale(0.5)}
50% {transform: scale(1.5)}
100% {transform: scale(0.5)}
}

@-webkit-keyframes myzoom /* Safari 和 Chrome */
{
0% {transform: scale(0.5)}
50% {transform: scale(1.5)}
100% {transform: scale(0.5)}
}

@-o-keyframes myzoom /* Opera */
{
0% {transform: scale(0.5)}
50% {transform: scale(1.5)}
100% {transform: scale(0.5)}
}

//animation for music swtich end

// Media query
@media screen and (max-width: 960px) {
  .sidebar {
    width: 16rem;
  }
  .content {
    margin-left: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: inherit;
    width: 100%;
    text-align: center;
  }
  .content {
    margin: 0 auto;
  }
  .sidebar-logo, .sidebar-menu {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .previous{
    margin-bottom: 0.5rem;
  }
  .previous, .next {
    display: block;
  }
}
/**Mobile styles**/

@media (max-width:767px) {
    #wrapper-music {
        max-width: 100vw;
        width: 100%;
        .audiojs {
            width: 100%;
        }
        &.show-music-list {
            margin-right: 0;
        }
        >.fa-times {
            display: block;
        }
    }
}

// back to top css
#back-top {
    display: block;
    position: fixed;
    top: 30px;
    right: 5px;
    cursor: pointer;
    > img {
        width: 35px;
        height: auto;
    }
    .fa-space-shuttle {
        font-size: 40px;
        color: #bd2998;
    }
}