body {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif
}
// custom style start

// comon style
    .clearfix {
        &::before,
        &::after {
            display: table;
            content: ' ';
        }

        &::after {
            clear: both;
        }
    }
// common style
.ph-height-24 {
    height: 24px;
}

.detail {
  .img-wrapper {
    img {
      width: 100%;
    }
  }
  .demo-flex-wrap {
    display: flex;
    width: 100%;
    border: 1px solid;
    margin: 10px 0;
    >div {
      padding: 5px;
      width: 100px;
      height: 100px;
      margin: 10px;
      line-height: 100px;
      color: white;
      font-weight: bold;
      font-size: 2em;
      text-align: center;
    }
    &.nowrap {
      flex-wrap: nowrap;
      >div {
        background-color: red;
      }
    }
    &.wrap {
      flex-wrap: wrap;
      >div {
        background-color: green;
      }
    }
    &.wrap-reverse {
      flex-wrap: wrap-reverse;
      >div {
        background-color: blue;
      }
    }
  }
}
.wrapper-20170718 {
  table {
    background-color: #fff;
    margin: 20px 0;
    width: 800px;
    tr {
      &:nth-child(odd) {
        background-color: #efefef;
      }
      td {
        padding: 15px;
        &:first-child {
          width: 150px;
          font-size: 18px;
          font-weight: 700;
          padding-left: 20px;
        }
        .forIE10 {
          color: #f00;
        }
      }
    }
  }
}

#wrapper-music {
  background: #333;
  max-width: 460px;
  position: fixed;
  right: 0;
  bottom: 5px;
  opacity: 0.9;
  margin-right: -100vw;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px #333;
  -webkit-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: margin-right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10;
  opacity: 0;
  // font-family: 'Courgette', cursive;
  >.fa-times {
    position: absolute;
    color: #fff;
    font-size: 16px;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 0;
    display: none;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3D(-50%, -50%, 0);
    }
  }
  >.fa-volume-off, // >.fa-volume-down {
  //     color: #fff;
  //     position: absolute;
  //     top: 10px;
  //     left: 10px;
  //     font-size: 1.5em;
  //     cursor: pointer;
  // }
  &.show-music-list {
    margin-right: 0;
  }
  >h1 {
    text-align: center;
    color: #CCC;
    font-size: 25px;
    margin: 5px;
  }
  ol {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding-left: 15px;
      padding-top: 4px;
      padding-bottom: 4px;
      cursor: pointer;
      border-bottom: 1px solid;
      &.playing {
        background-color: #000;
        .fa-play {
          color: #FFF;
        } // .rectangle-bounce {
        //     display: inline-block;
        // }
      }
      &:hover {
        background-color: #000;
        a {
          color: #FFF;
        }
        .fa-play {
          color: #FFF;
        }
      }
      .fa-play {
        vertical-align: middle;
        color: #333;
        font-size: 8px;
      }
      a {
        color: #CCC;
        text-decoration: none;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 14px;
        @media (min-width: 769px) {
          max-width: 310px;
        }
        @media (max-width: 768px) {
          max-width: 238px;
        }
      }
    }
  } 
}

.music-switch {
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 25px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10;
  text-align: center;
  &.move-left {
    transform: translateX(-460px);
    .fa-music {
      transform: rotatey(180deg);
      animation: myzoom 2s infinite;
      -moz-animation: myzoom 2s infinite;
      /* Firefox */
      -webkit-animation: myzoom 2s infinite;
      /* Safari 和 Chrome */
      -o-animation: myzoom 2s infinite;
    }
  }
  .fa-music {
    vertical-align: middle;
    color: #353535;
  }
  &:hover {
    background-color: #353535;
    .fa-music {
      color: #fff;
    }

  }
}

.audiojs {
  .play-pause {
    width: 36px;
  }
}

// custom style end
//animation for music switch start
@keyframes myzoom {
  0% {
    transform: scale(0.5)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(0.5)
  }
}

@-moz-keyframes myzoom
/* Firefox */

{
  0% {
    transform: scale(0.5)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(0.5)
  }
}

@-webkit-keyframes myzoom
/* Safari 和 Chrome */

{
  0% {
    transform: scale(0.5)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(0.5)
  }
}

@-o-keyframes myzoom
/* Opera */

{
  0% {
    transform: scale(0.5)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(0.5)
  }
}

//animation for music swtich end
// Media query
@media screen and (max-width: 960px) {
  .sidebar {
    width: 16rem;
  }
  .content {
    margin-left: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: inherit;
    width: 100%;
    text-align: center;
  }
  .content {
    margin: 0 auto;
  }
  .sidebar-logo,
  .sidebar-menu {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .previous {
    margin-bottom: 0.5rem;
  }
  .previous,
  .next {
    display: block;
  }
}


/**Mobile styles**/

@media (max-width:767px) {
  #wrapper-music {
    max-width: 100vw;
    width: 100%;
    .audiojs {
      width: 100%;
    }
    &.show-music-list {
      margin-right: 0;
    }
    >.fa-times {
      display: block;
    }
  }
}

// back to top css
#back-top {
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 60px;
  line-height: 30px;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  >img {
    width: 35px;
    height: auto;
  }
  .fa-arrow-up {
    color: #353535;
  }
  &:hover {
    background: #353535;
    .fa-arrow-up {
      color: #fff;
    }
  }
}

figure.about-me {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  // min-width: 320px;
  // max-width: 480px;
  // max-height: 360px;
  // width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;

  img {
      opacity: 0.95;
      -webkit-transition: opacity 0.35s,
      -webkit-transform 0.35s;
      transition: opacity 0.35s,
      transform 0.35s;
      -webkit-transform: scale3d(1.25, 1.25, 1);
      transform: scale3d(1.25, 1.25, 1);
      min-height: 120px;
      display: inline;
      margin: 0;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      content: '';
      -webkit-transition: -webkit-transform 0.6s;
      transition: transform 0.6s;
      -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    }

    >h2 {
      text-align: left;
      margin: 0;
      text-transform:none;
      color: #fff;
    }

    > p {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 1em 3em;
      padding: 0 1em;
      max-width: 150px;
      border-right: 4px solid #fff;
      text-align: right;
      opacity: 0;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;

      @media screen and (max-width: 1024px) {
        max-width: 200px;
        text-align: left;
      }
    }
  }

    &:hover {
      img {
        opacity: 0.6;
        -webkit-transform: scale3d(1, 1.1, 1);
        transform: scale3d(1, 1.1, 1);
      }

      figcaption {
        &::before {
          -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
          transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        }

        >p {
          opacity: 1;
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }
      }

    }
}

.listing {
  padding-left: 30px;
  margin-left: 30px;
  border-left: 2.5px solid #212121;
  list-style: none;

  .listing-seperator {
    font-size: 18px;
  }

  >li {
    position: relative;
    margin: 10px 0;
    text-transform: capitalize;

    .circle{
      left: -39px;
      width: 14px;
      height: 14px;
      background: #fff;
      border: 3px solid #353535;
      border-radius: 50%;
      position: absolute;
    }

    &:hover {
      .circle {
        background-color: #353535;
      }
    }
  }

}

.wf {
  .ivu-spin {
    display: inline-block;
  }
  .wf-footer {
    width: 100%;
    display: none !important;
  }
  .wf-header .ivu-menu li {
    line-height: inherit;
  }
}

#search-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .icon-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    font-weight: 400;
    z-index: 101;
    cursor: pointer;
    height: 26px;
    width: 26px;
    &:before {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 26px;
      transform: rotate(45deg);
      top: 13px;
    }

    &:after {
      content: '';
      position: absolute;
      background: #fff;
      height: 2px;
      width: 26px;
      transform: rotate(-45deg);
      top: 13px;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
  }
  .search-content {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    position: relative;
    z-index: 110;
    padding-top: 8em;

    @media screen and (max-width:767px) {
      padding-top: 10em;
    }

    #search-input {
      height: 40px;
      font-size: 18px;
      width: 100%;
      text-indent: 1em;
    }
    #results-container {
      padding: 20px 0;
      list-style-type: none;
      font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
      font-weight: 700;
      color: #fff;
      font-size: 22px;
      text-decoration: underline;
      font-weight: 400;

      li {
        padding: 3px 0;
        a {
          color: #fff;
        }
      }

      .fa-link {
        margin-right: 10px;
      }
    }
  }
}

.social-icons {
  width: 100%;
  .fa {
    font-size: 25px;
    margin: 0 5px;
    color: #353535;
  }
}

.typeWriter {
  padding-top: 30px;
  #typed {
    line-height: 2em;
    font-size: 16px;
  }
}

.hljs {
  font-size: 85%;
}

.progress {
  background: linear-gradient(to right, rgb(22, 148, 170) var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}