/**Mobile styles**/
@media (max-width:767px) {
    #wrapper-music {
        max-width: 100%;
        width: 100%;

        .audiojs {
            width: 100%;
        }

        &.show-music-list {
            margin-right: 0;
        }

        >.fa-times {
            display: block;
        }
    }
}
/**Tablet styles**/
@media (max-width:768px) and (min-width:1024px) {

}
/**Desktop styles**/
@media (min-width:1025px) {

}