/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */


.highlight .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.highlight .hljs-name {
  font-weight: bold;
  color: #62c8f3;
}
.highlight .hljs-strong {
  font-weight: bold;
}

.highlight .hljs-code,
.highlight .hljs-emphasis {
  font-style: italic;
}

.highlight .hljs-tag {
  color: #62c8f3;
}

.highlight .hljs-attr,
.highlight .hljs-variable,
.highlight .hljs-template-variable,
.highlight .hljs-selector-id,
.highlight .hljs-selector-class {
  color: #ade5fc;
}

.highlight .hljs-string,
.highlight .hljs-bullet {
  color: #a2fca2;
}

.highlight .hljs-type,
.highlight .hljs-title,
.highlight .hljs-section,
.highlight .hljs-attribute,
.highlight .hljs-quote,
.highlight .hljs-built_in,
.highlight .hljs-builtin-name {
  color: #ffa;
}

.highlight .hljs-number,
.highlight .hljs-symbol,
.highlight .hljs-bullet {
  color: #d36363;
}

.highlight .hljs-keyword,
.highlight .hljs-selector-tag,
.highlight .hljs-literal {
  color: #fcc28c;
}

.highlight .hljs-comment,
.highlight .hljs-deletion,
.highlight .hljs-code {
  color: #888;
}

.highlight .hljs-regexp,
.highlight .hljs-link {
  color: #c6b4f0;
}

.highlight .hljs-meta {
  color: #fc9b9b;
}

.highlight .hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

.highlight .hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.highlight .hljs a {
  color: inherit;
}

.highlight .hljs a:focus,
.highlight .hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
