---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
   <div class="container">
       
    {% include sidebar.html %}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->   
        <div id="main">

             {% include header.html %}
                    <div class="page-content">
                        <div class="wrapper">
                            {{ content }}
                        </div>
                    {% include footer.html %}
                    </div>
                {% if site.analytics %}
                    {% include analytics.html %}
                {% endif %}  
        </div>
        
        
        
        
        
<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script>
        
        
</div>            
<a class="music-switch">
    <i class="fa fa-music" aria-hidden="true"></i>
</a>
<div id="wrapper-music">
    <h1>我的音乐世界</h1>
    <i class="audio-control fa fa-volume-down" aria-hidden="true"></i>
    <i class="fa fa-times" aria-hidden="true"></i>
    <audio preload></audio>
    <ol>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m128.xiami.net/216/65216/2102733281/1795789161_1492406281916.mp3?auth_key=1507777200-0-0-38c803ff833dd4f9f8c021c8a68cb605">Despacito(Remix) -- Luis Fonsi;Daddy Yankee;Justin Bieber</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140402/fbf4ba46e8b2ed0bf7238939d3113ede/ymusic/ac76/580c/e87e/c53f76c86a367fd8cff77ad7a8b1641f.mp3">没有什么不同 -- 曲婉婷</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140142/de85c807536b3561bbd74e463d2d2a9a/ymusic/988c/9db7/578b/0692c5da095230b48e6a46aa991ad049.mp3">故乡--许巍</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140901/440b5e6ba7c4b7b4a8464fd4a0d6a7d4/ymusic/a78c/565e/af74/91d4e04fa29442ec42928131e6d77449.mp3">我在人民广场吃炸鸡 -- 阿肆</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140518/d1dc00fe47e4cc18afc9988d3a114354/ymusic/97e2/fe30/0556/a73dcc44c20332003afe2eb49e126106.mp3">Jar Of Love -- 曲婉婷</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140130/360fcdaff6108b0b58665f414f59d1da/ymusic/0cce/0768/52ed/db86bd40d6ba02bc4dc09cc942216662.mp3">Someone like you -- Adele</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140607/93fd0ebe0a751e67d6ff548d994c7f37/ymusic/03b1/847f/3c3c/e313a2fbd9ea926067773ef48b52638e.mp3">I Really Like You -- Carly Rae Jepsen</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
        <li><i class="fa fa-play" aria-hidden="true"></i><a href="#" data-src="http://m10.music.126.net/20171005140659/940e6abcb375f9f09a6a46082c02e515/ymusic/d3e3/6f69/0de7/78568b9996775e0a4d6099e3b8e065a9.mp3">Just the Way You Are -- Bruno Mars</a><div class="rectangle-bounce"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div></li>
    </ol>
</div>

<script type="text/javascript" src="{{site.baseurl}}/src/vender/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/src/vender/audio.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/src/main.js"></script>    
</body>
</html>
